#hovedsideImg{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }

#introText{
    text-align: center;
    font-family: Roboto, Oxygen, sans-serif;
    font-size: 23px;
}

#introText>p:nth-child(2){
    font-size: 28px;
}

#title{
    text-align: center;
    font-family: Roboto, Oxygen, sans-serif;
    font-size: 33px;
    margin-bottom: 1.5em;
}

#title::first-letter{
    font-size: 125%;
}

#textBubbleContainer{
    position: absolute;
    top: 16em;
    right: 5em;
}

#textBubbleContainer>a>img{
    width: 16em;
}

#textBubbleContainer>a>p{
    font-family: Roboto, Oxygen, sans-serif;
    font-size: 1.6em;
    color: black;
    position: absolute;
    top: 1.8em;
    left: 2.1em;
}

#contentContainer{
    background-color: #f8f1d5;
    margin: auto;
    width: 90%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    padding-bottom: 5em;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr min(2fr, 15vw) 1fr;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.1em;
}

.contentContainer-item{
    position: relative; /* Positioned this class relative so that the width % of the images will be relative to the elements with with class*/
    background-color: #B5AFAF;
    margin: 13% 13% 0 13%;
}

.contentContainer-item>img{
    width: 70%;
    margin: 15% 15% 15% 15%;
}

.contentContainer-item:hover{
    border: 0.3em solid rgb(0, 0, 0, 0.2);
}

.item1{
    grid-column: span 4;
}

.contentContainer-text{
    text-align: center;
    padding: 0em 2em 0em 2em;
}

.contentContainer-text>p{
    font-size: 120%;
}


@media only screen and (max-width: 1225px){
    #textBubbleContainer{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .item1{
        grid-column: span 2;
    }

    #contentContainer{
        grid-template-columns: 1fr 1fr; 
        grid-column-gap: 0;
        justify-content: space-around;
    }

    .contentContainer-item{
        margin: 18% 18% 0 18%;
    }

    .contentContainer-text{
        display: none;
    }
}

@media only screen and (max-width: 480px){ /*!!?!?!?!?!?! */
    .item1{
        grid-column: span 1;
    }

    #contentContainer{
        grid-template-columns: 1fr;
    }

    .contentContainer-item{
        margin: 18% 18% 0 18%;
    }
}