/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Header
*  2.0 - Footer
*  3.0 - Home
*  4.0 - Diet
*  5.0 - Dog Breed
*  6.0 - Gallery
*  7.0 - Age Calculator
*  8.0 - Contact
*/

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #EFE2BA;
  font-family: arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

/*** 1.0 - HEADER ***/

 
header {
  border-bottom: 1px solid;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu {
  width: 10em;
  background-color: #AFB7FF;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  transition: 0.2s;
}

.menu:hover {
  cursor: pointer;
  background-color: hsl(234, 68%, 70%)
}

#aktiv {
  background-color: #303549;
  color: #C5CBE3;
}

/*** 2.0 - FOOTER ***/

footer {
  margin-top: auto;
  padding: 10px 0px 10px 0px;
  bottom: 0px;
  background-color: #4056A1; 
  display: flex;
  }

/*** 3.0 - HOME ***/

/*** 4.0 - DIET ***/

/*** 5.0 - DOG BREED ***/

/*** 6.0 - GALLERY ***/

/*** 7.0 - AGE CALCULATOR ***/

/*** 8.0 - CONTACT ***/
#galleryTitle {
  margin: 20px;
  font-size: 3em;
  text-align: center;
  }

#hovedsideImg{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#video {
  height: 230px;
  background-color: rgba(224, 71, 255, 0.26);
}

#bilder {
  width: 1000px;
  border: 2px solid black;
  background-color: rgba(249,235,223);
  border-radius: 15px;
  margin: 10px auto;
  height: 200px;
  overflow: hidden;
  display: flex;
}

.bilder {
  margin: 20px;
  height: 170px;
  width: 170px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

#mappe{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.arrow-left {
  margin: auto 0px;
  margin-left: 20px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-right:50px solid #afb7ffb0; 
}
.arrow-left:hover {
  border-right:50px solid hsla(234, 100%, 72%, 0.69); 
  cursor: pointer;
}
.arrow-right {
  margin: auto 0px;
  margin-right: 20px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 50px solid #afb7ffb0;
}
.arrow-right:hover {
  border-left:50px solid hsla(234, 100%, 72%, 0.69);
  cursor: pointer;
}
